.geral {
    background-color: #F3F0F4;
}

.area {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0.4em;
}

h1 {
    padding-left: 1.8em;
    padding-top: 1.2em;
    color: black;
    font-family: Playfair Display;
}

h2 {
    margin-top: 1.2em;
    padding-left: 1.8em;
    color: blue;
    font-family: Playfair Display;
}

.personaldata,
.obj,
.contato,
.conhecimentos {
    padding-left: 2.6em;
    width: 20em;
    float: left;
    margin-right: -34px;
    overflow: hidden;
}

p {
    background-color: #C6BDDF;
    width: 90%; 
    line-height: 55px;
    font-size:18px; 
    float:left; 
    padding-left: 0.6em;
    font-weight: bold;
    margin: 0;
    margin-bottom: 4px;
}

.respostas {
    width: 35em;
    float: left;
    padding-left: 0.8em;
    line-height: 55px;  
}

.entradas,
.dateipt,
.dropmenudefault,
.cidade,
.entradasSM,
.lingua {
    background-color: #e9d7ee;
    width: 90%; 
    line-height: 55px;
    font-size:18px; 
    float:left; 
    padding-left: 0.6em;
    font-weight: bold;
    margin-bottom: 4px;
}

.dropmenudefault select {
    width: 16em;
}

.entradas input,
.dateipt input {
    width: 450px;
}

.cidade input {
    width: 230px;
}

.cidade select {
    width: 200px;
}

.radioOpt {
    background-color: #e9d7ee;
    width: 90%; 
    line-height: 55px;
    font-size:18px; 
    float:left; 
    padding-left: 0.6em;
    font-weight: bold;
    margin-bottom: 4px; 
}

textarea{
    resize: none;
}

.objarea {
    background-color: #e9d7ee;
    width: 90%; 
    line-height: 20px;
    font-size:18px; 
    float:left; 
    padding-left: 0.6em;
    font-weight: bold;
    margin-bottom: 4px;
}

.sociais {
    height: 5.55em;
    padding-top: 65px;
}

.LP {
    height: 5.55em;
    padding-top: 65px;
}

textarea:invalid{
    background-image: url(./Imagens/wrong.gif);
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
}

textarea:valid:required{
    background-image: url(./Imagens/check.png);
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
}


input:invalid{
    background-image: url(./Imagens/wrong.gif);
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;

}
input:valid:required{
    background-image: url(./Imagens/check.png);
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
}

.check {
    background-color: #e9d7ee;
}

button {
    width: 6em;
    height: 2em;
    background-color: #C6BDDF;
    color: black;
    border: 0;
    border-radius: 0.4rem;
    cursor: pointer;
    font: 1em  Playfair Display;

    text-decoration: none;

    transition: background 0.2s;
    margin-left: 2.55em;
}

button:hover {
    background: #e9d7ee;
}

@media (min-width: 1300px){
    
.personaldata,
.obj,
.contato,
.conhecimentos {
    padding-left: 2.6em;
    width: 32em;
    float: left;
    margin-right: -34px;
    overflow: hidden;
}
.entradas,
.dateipt,
.dropmenudefault,
.cidade,
.entradasSM,
.lingua {
    background-color: #e9d7ee;
    width: 45em; 
    line-height: 55px;
    font-size:18px; 
    float:left; 
    padding-left: 0.6em;
    font-weight: bold;
    margin-bottom: 4px;
}

.objarea {
    background-color: #e9d7ee;
    width: 45em; 
    line-height: 20px;
    font-size:18px; 
    float:left; 
    padding-left: 0.6em;
    font-weight: bold;
    margin-bottom: 4px;
}

.dropmenudefault select {
    width: 16em;
}

.entradas input,
.dateipt input {
    width: 700px;
}

.cidade input {
    width: 350px;
}


.cidade select {
    width: 330px;
}

.radioOpt {
    background-color: #e9d7ee;
    width: 45em; 
    line-height: 55px;
    font-size:18px; 
    float:left; 
    padding-left: 0.6em;
    font-weight: bold;
    margin-bottom: 4px; 
}

.check {
    background-color: #e9d7ee;
    width: 45em;
}

textarea{
    width:36.4vw;
}

}