.geral {
    background-color: #000000;
    font-family: Raleway;

}

.links {
    align-items: center;
    margin-left: 2.2em;
}

.links a {
    color: white;
    justify-content: space-between;
}

.title {

    font-size: 32px;
    color: white;
    font-weight: bold;
    padding-top: 0.6em;
    padding-left: 4rem;

}

.desc {

    color: white;
    padding-left: 6rem;
    padding-top: 1.6em;

}


.desc a {
    color: white;
}

.time img {
    margin: 0;
    width: auto;
    height: 35em;
    padding-left: 6em;
}